h1 {
    color: navy;
    text-align: center;
    font-size: 45px;
}

body {
    background-color: rgb(201, 229, 254);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav {
    text-align: center;
    font-size: 20px;
}

.forum {
  text-align: center;

}

.forms{
    text-align: center;
}
.petform{
    /*border: 2px solid navy;*/
    float: left;
    width: 50%;
}

.ownerform{
    /*border: 2px solid navy;*/
    float: right;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.floater{
    float: left;
    text-align: center;
    padding: 20px;
}
