h1 {
    color: navy;
    text-align: center;
    font-size: 45px;
}

body {
    background-color: rgb(201, 229, 254);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav {
    text-align: center;
    font-size: 20px;
}